[Unit]
Description=Daily ZikriLLah backup

[Timer]
OnCalendar=*-*-* 04:20:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
